---
Language:        Cpp
BasedOnStyle:  LLVM
IndentWidth:     4
TabWidth:        4
UseTab:          Never
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit:     120
IndentCaseLabels: false
SortIncludes:    true
SpaceAfterCStyleCast: true
PointerAlignment: Right
AlignTrailingComments: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: Consecutive
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
AccessModifierOffset: -4
