# Copyright (c) 2026 SPHARX. All Rights Reserved.\n# "From data intelligence emerges."\n\n# OpenLab Dependencies\n# ====================\n# Core dependencies for OpenLab Agent Operating System\n\n# Runtime Requirements\n# --------------------\naiofiles>=23.0.0\njsonschema>=4.17.0\n\n# Storage\n# -------\n# Note: sqlite3 is included in Python standard library\n\n# Optional: PostgreSQL support (uncomment if needed)\n# psycopg2-binary>=2.9.9\n# asyncpg>=0.28.0\n\n# Optional: Redis support (uncomment if needed)\n# redis>=5.0.0\n\n# Development & Testing\n# --------------------\npytest>=7.4.0\npytest-asyncio>=0.21.0\npytest-cov>=4.1.0\nblack>=23.0.0\nruff>=0.1.0\nmypy>=1.7.0\n\n# Code Quality\n# ------------\npylint>=3.0.0\nbandit>=1.7.0\nsafety>=3.0.0\n\n# Documentation\n# ------------\nsphinx>=7.2.0\nsphinx-rtd-theme>=2.0.0\n